.App {
  padding: 0;
  display: flex;
  flex-flow: column;
}

.App-body {
  display: flex;
  float: left;
}

  .sidenav {
    height: 100vh;
    background-color: #F5F8FA;
  }

  .contents  {
    margin: 20px;
    background-color: #F5F8FA;
  }

.sample-component {
  margin: 15px;
}
