.App {
  padding: 0;
  display: flex;
  flex-flow: column;
  max-height: 100vh;
}

.App-body {
  display: flex;
  float: left;
}

  .sidenav {
    height: calc(100vh - 50px);
    background-color: #F5F8FA;
  }

  .page  {
    background-color: #F5F8FA;
    overflow: auto;
    max-height: calc(100vh - 50px);
    min-width: calc(100vw - 220px)
  }

.sample-component {
  margin: 15px;
}
